.Winners {
  width: calc(100% - 30px);
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px 0;

  .heading {
    .heading__title {
      display: inline-block;
      margin: 0;
    }
    .heading__count-winners {
    }
  }
}
