.card {
  display: flex;
  max-width: 250px;
  flex-direction: column;

  .card__img {
    width: 100%;
    border-radius: 20px;
  }

  .card__text-container {
    display: flex;
    justify-content: space-between;
  }

  .card__subTitle {
    margin: 0;
  }

  .card__num-completed {

  }
}
