/* .header, .main, .footer {
  display: none;
} */
/* 
* { background-color: rgba(255,0,0,.2); }
* * { background-color: rgba(0,255,0,.2); }
* * * { background-color: rgba(0,0,255,.2); }
* * * * { background-color: rgba(255,0,255,.2); }
* * * * * { background-color: rgba(0,255,255,.2); }
* * * * * * { background-color: rgba(255,255,0,.2); }
* * * * * * * { background-color: rgba(255,0,0,.2); }
* * * * * * * * { background-color: rgba(0,255,0,.2); }
* * * * * * * * * { background-color: rgba(0,0,255,.2); }
 */
/* header */


@media screen and (max-width: 1600px) {
  .header {
    width: calc(100% - 40px);
  }
}

@media screen and (max-width: 1100px) {
  .header {

    &__burger-menu {
      display: block;
    }

    .header-nav {
      display: none;
    }
  }
}

@media screen and (max-width: 1024px) {
  .header {
    height: 130px;

    .logo {

      &__img {
        padding-right: 25px;
      }

      &__title {
        font-size: 28px;  
      }
    }
  
    &__burger-menu {
      width: 32px;
      height: 18px;
    }
  
/*     .header-nav {
      &__list {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
  
      }
      &__item {
        padding-left: 55px;
      }
      &__item:first-child {
        padding-left: 0;
      }
      &__link {
        font-size: 22px;
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        line-height: 26px;
        color: #fff;
        letter-spacing: 2.1px;
        text-decoration: none;
        transition: 0.3s;
      }
    } */
  }
}

@media screen and (max-width: 768px) {
  .header {
    height: 110px;

    .logo {

      &__img {
        padding-right: 25px;
      }

      &__title {
        display: inline-block;
        font-size: 28px;  
        margin: 0px;
      }
    }
  
    &__burger-menu {
      width: 32px;
      height: 18px;
    }
  }
}

@media screen and (max-width: 420px) {
  .header {
    height: 90px;

    .logo {

      &__img {
        width: 29px;
        height: 16px;
        padding-right: 25px;
      }

      &__title {
        display: inline-block;
        font-size: 16px;
        margin: 0px;
      }
    }
  
    &__burger-menu {
      width: 32px;
      height: 18px;
    }
  }
}

/* welcome */

@media screen and (max-width: 1600px) {
  .main {
    .welcome {
      width: calc(100% - 40px);
    }
  }
}

@media screen and (max-width: 1024px) {
  .main {
    .welcome {
      margin: 0 auto;
      padding-bottom: 192px;
      
      &__title {
        font-size: 50px;
        line-height: 90px;
        margin: 0 0 25px;
        padding: 50px 0 0;
      }
  
      &__text {
        font-size: 24px;
        line-height: 28px;
        margin: 0 0 50px;
      }
  
      &__link {
        display: block;
        width: 300px;
        font-size: 20px;
        line-height: 60px;
      }

      &__img {
        max-width: 71.14%;
      }
  
      &__control {
        padding: 0 75px 0 224px;
  
        .control__count {
          font-size: 20px;
          line-height: 40px;
          margin-right: 45px;
        }
  
        .control__square {
          width: 12px;
          height: 12px;
        }
  
        .control__prev {
          margin-left: 45px;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .main {
    .welcome {
      padding-bottom: 0;
      
      &__title {
        font-size: 40px;
        line-height: 60px;
        margin: 0 0 25px;
        padding: 0 0 0;
        text-align: center;
      }
  
      &__text {
        font-size: 20px;
        line-height: 20px;
        letter-spacing: 2px;
        text-align: center;
      }
  
      &__link {
        display: none;
      }

      &__img {
        position: static;
        right: 0;
        top: 0;
        max-width: 100%;
      }
  
      &__control {
        box-sizing: border-box;
        position: static;
        padding: 0 0 0 0;
        justify-content: center;
        right: 0;
        bottom: 0;
        height: 100px;
  
        .control__count {
          font-size: 20px;
          line-height: 20px;
          margin: 0 45px 0 0;
        }
  
        .control__square {
          width: 12px;
          height: 12px;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .main {
    .welcome {
      .control__square {
        margin-right: 10px;
      }
    }
  }
}

@media screen and (max-width: 420px) {
  .main {
    .welcome {
      
      &__title {
        font-size: 28px;
        line-height: 40px;
        margin: 5px 0 25px;
      }
  
      &__text {
        font-size: 16px;
        line-height: 19px;
      }
  
      &__control {
        height: 80px;
  
        .control__count {
          font-size: 16px;
          line-height: 16px;
          margin: 0 25px 0 0;
          word-spacing: 0;
        }
  
        .control__square {
          width: 7px;
          height: 7px;
        }

        .control__prev {
          width: 20px;
          height: 16px;
          background-image: url('../svg/welcome-prev420px.svg');
          margin-left: 25px;
        }
  
        .control__next {
          width: 20px;
          height: 16px;
          background-image: url('../svg/welcome-next420px.svg');
          margin-left: 15px;
        }
      }
    }
  }
}

/* visiting */

@media screen and (max-width: 1600px) {
  .main {
    .visiting__container {
      width: calc(100% - 40px);
    }
  }
}

@media screen and (max-width: 1420px) {
  .main {
    .visiting {

       &__cards {
        gap: 77px 50px;
        justify-content: space-evenly;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .main {
    
    .visiting {

      &__title {
        font-size: 50px;
        line-height: 75px;
        padding: 60px 0 0;
        margin: 0 0 20px;
      }
  
      &__line {
        margin: 0 0 60px;
      }
  
       &__cards {
        gap: 62px 0;
        padding: 0 0 60px;
      }

      .card {
        &__img {
          width: 330px; 
          height: auto;
          margin: 0 0 25px;
        }
  
        &__title {
          font-size: 28px;
          line-height: 31px;
          letter-spacing: 3px;
          margin: 0 0 10px;
        }
  
        &__line {
          width: 150px;
        }
  
        &__text {
          font-size: 20px;
          line-height: 23px;
        }
  
        &__text2 {
          font-size: 16px;
          line-height: 19px;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .main {
    
    .visiting {

      &__title {
        font-size: 40px;
        line-height: 60px;
        padding: 40px 0 0;
      }
  
      &__line {
        margin: 0 0 40px;
      }
  
       &__cards {
        gap: 38px 0;
        padding: 0 0 80px;
      }

      .card {
        &__img {
          width: 280px;
        }
  
        &__title {
          font-size: 22px;
          line-height: 24px;
        }

        &__text {
          font-size: 18px;
          line-height: 21px;
        }
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .main {
    .visiting {
      &__cards {
        gap: 38px 60px;
      }
    }
  }
}

@media screen and (max-width: 420px) {
  .main {
    
    .visiting {

      &__title {
        font-size: 28px;
        line-height: 40px;
      }

       &__cards {
        padding: 0 0 42px;
      }

      .card {
        &__title {
          font-size: 18px;
          line-height: 20px;
          letter-spacing: 5px;
        }

        &__text {
          font-size: 16px;
          line-height: 19px;
        }
      }
    }
  }
}

/* explore */

@media screen and (max-width: 1600px) {
  .main {
    .explore {
      width: calc(100% - 40px);

      &__title {
        font-size: 50px;
        line-height: 75px;
        margin: 0 0 20px;
        padding: 60px 0 0;
      }
    }
  }
}

@media screen and (max-width: 1124px) {
  .main {
    .explore {
      flex-direction: column;
      gap: 60px;
  
      &__container-text {
        max-width: 100%;
      }
  
      &__line {
        margin: 0 0 60px;
      }
  
      &__text {
        font-size: 20px;
        margin: 0 0 0px;
      }

      &__text:nth-of-type(2) {
        line-height: 35px;
      }

      &__text:last-child {
        display: none;
      }

      &__img {
        margin: 0 auto 0;
        max-width: 100%;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .main {
    .explore {
      gap: 40px;
  
      &__container-text {
        width: 100%;
      }
  
      &__title {
        font-size: 40px;
        line-height: 60px;
        padding: 40px 0 0;
      }
  
      &__line {
        margin: 0 0 0;
      }
  
      &__text {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 420px) {
  .main {
    .explore {

      &__title {
        font-size: 28px;
        line-height: 40px;
      }
    }
  }
}