.header__wrapper {
  width: 100%;
  background-color: #121c1e;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 30px);
  max-width: 1600px;
  height: 70px;
  margin: 0 auto;

  .nav {
    display: flex;
    align-items: center;

    .nav__logo {
      width: 46px;
      height: 60px;
      background-image: url('../../assets/svg/tree.svg');
      background-size: contain;
      background-repeat: no-repeat;
      padding: 0 65px 0 0;
    }

    .nav__button {
      font: normal 400 26px/70px 'Neucha', cursive;
      color: #fff;
      background-color: transparent;
      border: none;
      padding: 0 20px;
      text-transform: uppercase;
      transition: color 0.3s;
    }

    .nav__button:hover {
      color: #278d9f;
      cursor: pointer;
    }

    .nav__logo {
      width: 46px;
      height: 60px;
      background-image: url('../../assets/svg/tree.svg');
      background-size: contain;
      background-repeat: no-repeat;
      padding: 0 65px 0 0;
      transition: filter 0.3s;
    }

    .nav__logo:hover {
      filter: invert(57%) sepia(100%) saturate(329%) hue-rotate(141deg) brightness(89%) contrast(90%);
    }
  }

  .control {
    display: flex;
    align-items: center;
    column-gap: 20px;
  }

  .control__search {
    box-sizing: border-box;
    width: 300px;
    height: 40px;
    font: normal 400 16px/40px 'Open Sans', sans-serif;
    color: #fff;
    border: 1px solid #278d9f;
    background-color: #123f47;
    border-radius: 15px;
    outline: none;
    padding: 0 10px 0 40px;
    background-image: url('../../assets/svg/search.svg');
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: 5% 50%;
  }

  .control__search::placeholder {
    font: normal 400 16px/40px 'Open Sans', sans-serif;
    color: rgb(175, 175, 175);
  }

  .control__amount-toys {
    width: 40px;
    height: 40px;
    font-size: 24px;
    color: #fff;
    text-align: center;
    border: 1px solid #278d9f;
    background-color: #123f47;
    border-radius: 50%;
    outline: none;
  }

  .control__amount-toys::-webkit-outer-spin-button,
  .control__amount-toys::-webkit-inner-spin-button {
    appearance: none;
  }
}
