.artists-quiz-questions {
  position: relative;
  padding: 0 15px;
  max-width: 800px;
  margin: 0 auto;

  .artists-quiz-questions__title {
    font-size: 20px;
  }

  .artists-quiz-questions__img-container {
    max-width: 100%;
  }

  .artists-quiz-questions__img {
    width: 100%;
    max-height: 450px;
    /* object-fit: contain; */
    object-fit: cover;
    margin: 0 0 25px;
  }

  .artists-quiz-questions__navigation {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  .artists-quiz-questions__buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 12px;
  }

  .artists-quiz-questions__button {
    font-size: 16px;
    font-style: 500;
    width: 100%;
    height: 48px;
    border-radius: 56px;
  }

  .artists-quiz-questions__button--right {
    background-color: #3dda69;
    border: 2px solid #3dda69;
  }
  .artists-quiz-questions__button--wrong {
    background-color: #ff7e7e;
    border: 2px solid #ff7e7e;
  }
}

.wrapper {
  .artists-quiz-questions__modal {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.5);
  }

  .modal__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: calc(100% - 30px);
    max-width: 500px;
    padding: 15px;
    margin: 50px auto;
    border-radius: 20px;
    background-color: rgba($color: #fff, $alpha: 1);
  }

  .modal__right-or-wrong {
    display: block;
    width: 40px;
    margin-bottom: 10px;
  }

  .modal__picture {
    /* display: block; */
    width: 100%;
    margin-bottom: 20px;
  }

  .modal__name-picture {
    font-size: 22px;
    font-weight: 500;
    color: #000;
    margin: 0 0 10px;
  }

  .modal__author-picture {
    font-size: 16px;
    font-style: italic;
    font-weight: 300;
    color: #000;
    margin: 0 0 30px;
  }

  .modal__next,
  .modal__button-home,
  .modal__button-next-quiz,
  .modal__download,
  .modal__close {
    font-size: 22px;
    height: 46px;
    color: #000;
    border: 2px solid #000;
  }

  .modal__next:hover,
  .modal__button-home:hover,
  .modal__button-next-quiz:hover,
  .modal__download:hover,
  .modal__close:hover {
    color: #000;
    border: 2px solid #ffbca2;
  }

  .modal__next:active,
  .modal__button-home:active,
  .modal__button-next-quiz:active,
  .modal__download:active,
  .modal__close:active {
    border: 2px solid #ffbca2;
  }

  .modal__img-congratulation {
    width: 100%;
    max-width: 320px;
    margin-bottom: 40px;
  }

  .modal__text-congratulation {
    font-size: 28px;
    font-weight: 500;
    color: #000;
    margin: 0 0 40px 0;
  }

  .modal__numbers-congratulation {
    font-size: 36px;
    font-weight: 700;
    color: #000;
    margin: 0 0 60px 0;
  }

  .modal__buttons-container {
    display: flex;
    width: 100%;
    column-gap: 15px;
  }

  .modal__button-home,
  .modal__button-next-quiz,
  .modal__download,
  .modal__close {
    font-size: 18px;
  }
}
