.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 15px;

  .rsschool {
    height: 22px;
    opacity: 0.6;
    transition: opacity 0.3s;
  }
  .rsschool:hover {
    opacity: 1;
  }

  .year {
    font-size: 16px;
    font-weight: 400px;
    color: #fff;
    margin: 0 36px 0 0;
    opacity: 0.6;
  }

  .github {
    height: 22px;
    opacity: 0.6;
    transition: opacity 0.3s;
  }

  .github:hover {
    opacity: 1;
  }
}
