.general {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 105px - 50px);

  .titleH1 {
    cursor: default;
  }

  .button-artist {
    margin: 75px 0 20px;
    cursor: pointer;
  }

  .button-pictures {
    cursor: pointer;
  }
}
