.header {
  display: flex;
  padding: 15px 15px 30px;
  height: 60px;

  .titleH1 {
    margin-right: auto;
  }

  .settings:hover {
    cursor: pointer;
  }

  .categories {
    width: 30px;
  }

  .categories:hover {
    cursor: pointer;
  }

  .settings {
    display: block;
    width: 30px;
    margin-left: 15px;
  }
}
