.pictures-quiz-questions {
  position: relative;
  padding: 0 15px;
  max-width: 800px;
  margin: 0 auto;

  .pictures-quiz-questions__navigation {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  .pictures-quiz-questions__buttons-container {
    display: flex;
    column-gap: 10px;
    width: 100%;
  }

  .pictures-quiz-questions__img-container {
    width: 50%;
  }

  .pictures-quiz-questions__button {
    display: block;
    width: 100%;
    max-height: 250px;
    /* object-fit: contain; */
    object-fit: cover;
    transition: transform 0.4s;
  }

  .pictures-quiz-questions__button:hover {
    cursor: pointer;
    transform: scale(0.96);
  }
}

.wrapper {
  /*   .modal__img-congratulation {
    width: 100%;
    max-width: 320px;
    margin-bottom: 40px;
  }

  .modal__text-congratulation {
    font-size: 42px;
    font-weight: 600;
    color: #000;
    margin: 0 0 40px 0;
  }

  .modal__numbers-congratulation {
    font-size: 82px;
    font-weight: 700;
    color: #000;
    margin: 0 0 60px 0;
  } */
}
