.background {
  width: 60px;
  height: 60px;
  border: 1px solid #278d9f;
  border-radius: 10px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  transition: 0.3s border;
}

.background:hover {
  border: 1px solid #fff;
}

.background--checked {
  border: 1px solid #ffff00 !important;
}
