.Garage {
  position: relative;
  width: calc(100% - 30px);
  max-width: 1200px;
  margin: 0 auto;

  .heading {
    .heading__title {
      display: inline-block;
      margin: 0;
    }
    .heading__count-cars {
    }
  }

  .pagination {
    .pagination__button-prev {
    }

    .pagination__current-page {
    }

    .pagination__button-next {
    }
  }
}
