.christmas-tree {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 70px - 50px);
  width: 100%;
  gap: 10px;

  .christmas-tree__left-container {
    width: 25%;

    .christmas-tree__play-buttons {
      display: flex;
      column-gap: 20px;
      margin-top: 19px;
      align-items: center;

      .christmas-tree__reset-button {
        font: normal 400 16px/30px 'Open Sans', sans-serif;
        color: #fff;
        border: 1px solid #278d9f;
        background-color: #123f47;
        border-radius: 10px;
        margin-left: auto;
        transition: 0.3s border;
        cursor: pointer;
      }

      .christmas-tree__reset-button:hover {
        border: 1px solid #fff;
      }
    }
  }

  .christmas-tree__middle-container {
    width: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    overflow: hidden;

    .christmas-tree__map {
    }

    .christmas-tree__christmas-tree-picture-container {
      position: relative;
      display: block;
      width: max-content;
      height: 100%;
      margin: 0 auto;
    }

    .christmas-tree__christmas-tree-picture {
      display: block;
      height: 100%;
      max-height: 100%;
      object-fit: contain;
      max-width: max-content;
    }
  }

  .christmas-tree__right-container {
    width: 25%;
  }
}

@media screen and (max-width: 1200px) {
  .christmas-tree {
    flex-direction: column;

    .christmas-tree__left-container {
      order: 3;
      width: 100%;
    }

    .christmas-tree__middle-container {
      order: 1;
      width: 100%;
      min-height: 300px;

      .christmas-tree__christmas-tree-picture-container {
        margin: 0 auto;
      }

      .christmas-tree__christmas-tree-picture {
      }
    }

    .christmas-tree__right-container {
      order: 2;
      width: 100%;
    }
  }
}
