.main__wrapper {
  width: 100%;
  background-image: url('../../assets/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow-y: auto;
}

.main {
  height: calc(100vh - 70px - 70px);
  max-width: 1600px;
  width: calc(100% - 30px);
  margin: 0 auto;
}
