html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: white;
  background-color: #030303;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1440px;
  height: 150px;
  margin: 0 auto;

  .logo {
    display: flex;
    align-items: baseline;
    max-width: max-content;
    text-decoration: none;
  
    &__img {
      padding-right: 25px;
      transition: 0.3s;
    }
    &__title {
      display: inline-block;
      font-size: 28px;
      font-family: 'Forum', sans-serif;
      font-weight: 400;
      line-height: 31px;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 5px;
      margin: 0px;
      transition: 0.3s;
    }
  }

  .logo:hover {
    .logo__title {
      color: #9D8665;
    }
    .logo__img {
      filter: invert(48%) sepia(15%) saturate(739%) brightness(91%) contrast(92%);
    }
  }

  .header-nav {
    &__list {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;

    }
    &__item {
      padding-left: 55px;
    }
    &__item:first-child {
      padding-left: 0;
    }
    &__link {
      font-size: 22px;
      font-family: 'Roboto', sans-serif;
      font-weight: 100;
      line-height: 26px;
      color: #fff;
      letter-spacing: 2.1px;
      text-decoration: none;
      transition: 0.3s;
    }

    &__link:hover {
      color: #9D8665;
    }
  }
}

.main {
  overflow-x:hidden;

  .welcome {
    position: relative;
    margin: 0 auto;
    padding-bottom: 272px;
    max-width: 1440px;
    background: linear-gradient(to right, rgba($color: #000, $alpha: 1) 0%, rgba($color: #000, $alpha: 1) 30%, rgba($color: #000, $alpha: 0) 45%, rgba($color: #000, $alpha: 0) 100%), 
    url("../img/content/welcome-slider/1.jpg") 100% 0 no-repeat;

    &__title {
      font-size: 80px;
      font-family: 'Forum', sans-serif;
      font-weight: 400;
      line-height: 90px;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 5px;
      margin: 0 0 25px;
      padding: 150px 0 0
    }

    &__text {
      font-size: 28px;
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      line-height: 33px;
      color: #fff;
      letter-spacing: 2px;
      margin: 0 0 75px;
    }

    &__link {
      display: block;
      width: 360px;
      font-size: 22px;
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      line-height: 75px;
      color: #fff;
      letter-spacing: 2px;
      background-color: #710707;
      text-decoration: none;
      text-align: center;
      border-radius: 10px;
      margin: 0;
      transition: 0.3s;
    }

    &__link:hover {
      background-color: #9D8665;
    }

    &__control {
      box-sizing: border-box;
      position: absolute;
      display: flex;
      align-items: center;
      padding: 0 74px;
      right: 0;
      bottom: 0;
      height: 120px;
      background-color: #000;

      .control__count {
        font-size: 22px;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        line-height: 40px;
        color: #fff;
        word-spacing: 5px;
        margin-right: 55px;
      }

      .control__square {
        width: 16px;
        height: 16px;
        background-color: #fff;
        margin-right: 25px;
        transition: 0.2s;
      }

      .control__square:last-of-type {
        margin-right: 0;
      }

      .control__square:first-of-type {
        background-color: #D2B183;
      }

      .control__square:hover {
        background-color: #9D8665;
      }

      .control__prev {
        width: 30px;
        height: 16px;
        border: none;
        background-color: transparent;
        background-image: url('../svg/welcome-prev.svg');
        background-position-y: 5px;
        background-repeat: no-repeat;
        margin-left: 60px;
        transition: 0.2s;
        cursor: pointer;
      }

      .control__next {
        width: 30px;
        height: 16px;
        border: none;
        background-color: transparent;
        background-image: url('../svg/welcome-next.svg');
        background-position-y: 5px;
        background-repeat: no-repeat;
        margin-left: 20px;
        transition: 0.2s;
        cursor: pointer;
      }

      .control__prev:hover, .control__next:hover {
        filter: invert(42%) sepia(32%) saturate(370%) brightness(94%) contrast(91%);
      }
    }
  }

  .visiting {
    background-color: #fff;

    &__container {
      width: 1440px;
      margin: 0 auto;
    }

    &__title {
      font-size: 80px;
      font-family: 'Forum', sans-serif;
      font-weight: 400;
      line-height: 90px;
      color: #9D8665;
      letter-spacing: 5px;
      text-transform: uppercase;
      padding: 75px 0 0;
      margin: 0 0 25px;
    }

    &__line {
      width: 100%;
      height: 3px;
      background-color: #710707;
      margin: 0 0 75px;
    }

     &__cards {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 77px 60px;
      padding: 0 0 74px;
    }

    &__card-link {
      text-decoration: none;
    }

    &__card-link:hover .card__line {
      width: 100%;
    }

    .card {
      &__img {
        margin: 0 0 21px;
      }

      &__title {
        font-size: 32px;
        font-family: 'Forum', sans-serif;
        font-weight: 400;
        line-height: 35px;
        color: #000;
        letter-spacing: 5px;
        text-transform: uppercase;
        margin: 0 0 9px;
      }

      &__line {
        width: 300px;
        height: 2px;
        background-color: #710707;
        margin: 0 0 10px;
        transition: 0.5s;
      }

      &__text {
        font-size: 22px;
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        line-height: 26px;
        color: #000;
        margin: 0 0 10px;
      }

      &__text2 {
        font-size: 18px;
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        line-height: 21px;
        color: #000;
        margin: 0 0 0px;
      }
    }
  }

  .explore {
    width: 1440px;
    margin: 0 auto;
    display: flex;
    gap: 60px;

    &__title {
      font-size: 80px;
      font-family: 'Forum', sans-serif;
      font-weight: 400;
      line-height: 90px;
      color: #fff;
      letter-spacing: 5px;
      text-transform: uppercase;
      margin: 0 0 25px;
      padding: 75px 0 0;
    }

    &__line {
      width: 100%;
      height: 3px;
      background-color: #710707;
      margin: 0 0 75px;
    }

    &__text {
      font-size: 22px;
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      line-height: 38px;
      color: #fff;
      margin: 0 0 26px;
    }

    &__text--gold {
      color: #CAAA7D;
    }

    &__img {
      padding: 90px 0 75px;
    }
  }

  .video {
    background-color: #fff;

    &__container {
      width: 1440px;
      margin: 0 auto;
    }

    &__container-text {
      display: flex;
      justify-content: space-between;
      gap: 115px;
      padding: 75px 0 75px;
    }

    &__title {
      min-width: fit-content;
      font-size: 80px;
      font-family: 'Forum', sans-serif;
      font-weight: 400;
      line-height: 90px;
      color: #9D8665;
      letter-spacing: 5px;
      text-transform: uppercase;
      margin: 0;
      padding: 0;
    }

    &__text {
      font-size: 22px;
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      line-height: 45px;
      color: #000;
      margin: 0;
    }

    &__player {
      position: relative;
    }

    &__buttonPrev {
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      left: -75px;
      font-size: 150px;
      border: 5px solid black;
      border-radius: 5px;
      background-color: white;
    }

    &__buttonNext {
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      right: -175px;
      font-size: 150px;
      border: 5px solid black;
      border-radius: 5px;
      background-color: white;
    }

    &__content {
      width: 100%;
      height: 730px;
      object-fit: cover;
    }

    @keyframes opacity {
      from {
        opacity: 1;
      }

      50% {
        opacity: 0.5;
      }

      to {
        opacity: 0;
      }
    }

    &__content--opacity {
      position: absolute;
      left: 0;
      top: 0;
      opacity: 1;
      animation: opacity 0.3s linear 0s 1 normal forwards running;
    }

    &__big-play {
      position: absolute;
      width: 220px;
      height: 220px;
      border-radius: 50%;
      background-image: url("../svg/big-play.svg");
      background-repeat: no-repeat;
      outline: none;
      border: none;
      background-color: transparent;
      top: 44%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: 0.3s;
    }

    &__controls {
      position: absolute;
      bottom: 0px;
      display: flex;
      align-items: center;
      width: 100%;
      height: 85px;
      background-color: rgba($color: #000000, $alpha: 0.5);
      margin: 0;
    }

    &__play {
      // TODO: неправильно подобрана ширина иконки
      /* min-width: 22px; */
      min-width: 32px;
      height: 30px;
      background-image: url("../svg/play.svg");
      background-repeat: no-repeat;
      outline: none;
      border: none;
      background-color: transparent;
      margin: 0 50px 0 30px;
      transition: 0.3s;
    }

    &__progress {
      // TODO: дергается ползунок при просмотре видое
      width: 100%;
      appearance: none;
      height: 8px;
      background: linear-gradient(left, #710707 0%, #710707 0%, #fff 0%, #fff 100%);
      outline: none;
    }

    &__progress::-webkit-slider-thumb {
      appearance: none;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: #fff;
      cursor: pointer;
      transition: 0.3s;
    }
    
    &__volume {
      // TODO: при смене иконки на mute.svg плохо позиционируется
      min-width: 37px;
      height: 30px;
      background-image: url("../svg/volume.svg");
      background-repeat: no-repeat;
      outline: none;
      border: none;
      background-color: transparent;
      margin: 0 50px 0 50px;
      transition: 0.3s;
    }

    &__volume-level {
      min-width: 155px;
      appearance: none;
      height: 8px;
      background: linear-gradient(left, #710707 0%, #710707 100%, #fff 100%, #fff 100%);
    }

    &__volume-level::-webkit-slider-thumb {
      appearance: none;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background: #fff;
      cursor: pointer;
      transition: 0.3s;
    }

    &__zoom {
      min-width: 36px;
      height: 36px;
      background-image: url("../svg/zoom.svg");
      background-repeat: no-repeat;
      outline: none;
      border: none;
      background-color: transparent;
      margin: 0 30px 0 50px;
      transition: 0.3s;
    }

    &__big-play, &__play, &__volume, &__zoom {
      cursor: pointer;
    }

    &__big-play:hover, &__play:hover, &__volume:hover, &__zoom:hover,
    &__volume-level::-webkit-slider-thumb:hover, &__progress::-webkit-slider-thumb:hover {
      filter: brightness(85%);
    }

    .posterdelete__container {
      display: flex;
      width: 1440px;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 40px 0 127px 0;
    }

    .posterdelete {
      width: 452px;
      height: 254px;
      background-color: orange;
      margin: 0;
      padding: 0;
    }
  }

  .tickets {
    width: 1440px;
    margin: 0 auto;

    &__title {
      font-size: 80px;
      font-family: 'Forum', sans-serif;
      font-weight: 400;
      line-height: 90px;
      color: #fff;
      letter-spacing: 5px;
      text-transform: uppercase;
      margin: 0 0 25px;
      padding: 75px 0 0; 
    }

    &__line {
      width: 100%;
      height: 3px;
      background-color: #710707;
      margin: 0 0 75px;
    }

    &__container {
      display: flex;
      flex-direction: row;
      padding: 0 0 75px;
    }

    &__img {
      margin-right: 60px;
    }

    &__radio-buttons {
      display: flex;
      flex-direction: column;
    }

    .radio-buttons__container {
      display: block;
      position: relative;
      padding-left: 40px;
      margin: 0 0 25px;
      cursor: pointer;
      user-select: none;
    }

    .radio-buttons__container input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
    }

    .radio-buttons__checkmark {
      position: absolute;
      top: 4px;
      left: 0;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      border: 2px solid #fff
    }

    .radio-buttons__container:hover input ~ .radio-buttons__checkmark {
      background-color: rgb(51, 51, 51);
    }

    .radio-buttons__checkmark::after {
      content: '';
      position: absolute;
      display: none;
    }

    .radio-buttons__container input:checked ~ .radio-buttons__checkmark::after {
      display: block;
    }

    .radio-buttons__container .radio-buttons__checkmark::after {
      top: 3px;
      left: 3px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #fff;
    }
    
    .radio-buttons__subtitle {
      font-size: 28px;
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
      line-height: 33px;
      color: #fff;
      margin: 0 0 50px;
    }

    .radio-buttons__text {
      display: inline-block;
      font-size: 22px;
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      line-height: 26px;
      color: #fff;
    }

    .tickets__amount {
      margin-left: auto;
    }

    .amount__title {
      font-size: 28px;
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
      line-height: 33px;
      color: #fff;
      margin: 0 0 25px;
      text-align: right;
    }

    .amount__container {
      position: relative;
      display: flex;
      align-items: center;
      box-sizing: border-box;
      width: 150px;
      height: 50px;
      border: 3px solid #fff;
      margin: 0 0 10px auto;
    }

    .amount__container:last-of-type {
      margin: 0 0 50px auto;
    }

    .amount__text {
      font-size: 22px;
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      line-height: 26px;
      color: #fff;
      margin: 0 0 14px 25px;
    }

    .amount__minus {
      width: 50px;
      height: 100%;
      border: none;
      outline: none;
      background-color: transparent;
      cursor: pointer;
      z-index: 1;
      transition: 0.3s;
    }

    .amount__minus:hover {
      background-color: #000;
      opacity: 0.3;
    }

    .amount__container::before {
      content: '';
      position: absolute;
      width: 16px;
      height: 2px;
      background-image: url("../svg/amount_minus.svg");
      top: 20px;
      left: 13px;
    }

    .amount__plus {
      width: 50px;
      height: 100%;
      border: none;
      outline: none;
      background-color: transparent;
      cursor: pointer;
      z-index: 1;
      transition: 0.3s;
    }

    .amount__plus:hover {
      background-color: #000;
      opacity: 0.3;
    }

    .amount__container::after {
      content: '';
      position: absolute;
      width: 16px;
      height: 16px;
      background-image: url("../svg/amount_plus.svg");
      top: 13px;
      right: 13px;
    }

    .amount__input {
      width: 50px;
      height: 100%;
      font-size: 22px;
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      color: #fff;
      text-align: center;
      border: none;
      background-color: transparent;
      outline: none;
      cursor: default;
    }

    .amount__container input::-webkit-outer-spin-button,
    .amount__container input::-webkit-inner-spin-button {
      appearance: none;
    }

    .amount__subtitle {
      font-size: 28px;
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
      line-height: 33px;
      color: #fff;
      text-align: right;
      letter-spacing: 1.65px;
      margin: 0 0 60px;
    }

    .amount__buy {
      width: 175px;
      height: 50px;
      background-color: #fff;
      border: none;
      border-radius: 2px;
      font-size: 22px;
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      line-height: 26px;
      letter-spacing: 2px;
      cursor: pointer;
      transition: 0.3s;
    }

    .amount__buy:hover {
      background-color: #9D8665;
    }
  }

  .contacts {
    background-color: #fff;

    &__wrapper {
      width: 1440px;
      margin: 0 auto;
    }

    &__title {
      font-size: 80px;
      font-family: 'Forum', sans-serif;
      font-weight: 400;
      line-height: 90px;
      color: #9D8665;
      letter-spacing: 5px;
      text-transform: uppercase;
      margin: 0 0 25px;
      padding: 75px 0 0;
    }

    &__line {
      width: 100%;
      height: 3px;
      background-color: #710707;
      margin: 0 0 75px;
    }

    &__container {
      display: flex;
      justify-content: space-between;
      padding: 0 0 75px;
    }

    /* &__content {
    } */

    &__subtitle {
      font-size: 28px;
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
      line-height: 33px;
      color: #000;
      margin: 0;
    }

    &__list {
      list-style: none;
      margin: 50px 0 0;
      padding: 0;
      font-size: 22px;
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      line-height: 26px;
      color: #000;
    }

    &__item {
      margin-bottom: 25px;
    }

    &__address {
      font-style: normal;
    }

    &__link {
      color: #000;
      text-decoration: none;
      transition: 0.3s;
    }

    &__link:hover {
      color: #9d8665;
      text-decoration: none;
    }
  }
}

.footer {

  &__content {
    display: flex;
    width: 1440px;
    padding: 84px 0 21px;
    margin: 0 auto;

    .logo {
      display: flex;
      align-items: baseline;
      max-width: max-content;
      text-decoration: none;
      margin-right: 140px;
      transition: 0.3s;
    
      &__img {
        padding-right: 26px;
        transition: 0.3s;
      }
  
      &__title {
        display: inline-block;
        font-size: 28px;
        font-family: 'Forum', sans-serif;
        font-weight: 400;
        line-height: 31px;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 5px;
        margin: 0px;
        transition: 0.3s;
      }
    }
  
    .logo:hover {
      .logo__title {
        color: #9D8665;
      }
      .logo__img {
        filter: invert(28%) sepia(15%) saturate(739%) brightness(91%) contrast(92%);
      }
    }
  
    .footer-nav {
      width: 530px;
  
      &__list {
        display: flex;
        flex-direction: column;
        height: 160px;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
      }
  
      &__item {
        list-style: none;
        margin: 0 0 25px;
      }
  
      &__link {
        font-size: 22px;
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        line-height: 26px;
        color: #fff;
        margin: 0;
        padding: 0;
        text-decoration: none;
        letter-spacing: 2px;
        transition: 0.3s;
      }
  
      &__link:hover {
        color: #9D8665;
      }
    }
  
    .social__list {
      display: flex;
      list-style: none;
      padding: 0;
      margin: auto 0 30px;
      margin-left: auto;
    }
  
    .social__item {
      margin-right: 25px;
    }
  
    .social__item svg {
      transition: 0.3s;
    }
  
    .social__item:hover svg {
      filter: invert(48%) sepia(15%) saturate(739%) brightness(91%) contrast(92%);
    }
  
    .social__item:last-child {
      margin: 0;
    }
  }

  &__line {
    height: 3px;
    width: 100%;
    background-color: #666666;
  }

  &__development {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1440px;
    height: 124px;
    font-size: 22px;
    font-family: 'Roboto',sans-serif;
    font-weight: 100;
    line-height: 22px;
    letter-spacing: 2px;
    color: #fff;
    margin: 0 auto;

    &-rsschool {
      text-decoration: none;
      letter-spacing: 2px;
      color: #fff;
      margin-left: 50px;
      transition: 0.3s;
    }

    &-github {
      text-decoration: none;
      letter-spacing: 2px;
      color: #fff;
      transition: 0.3s;
    }

    &-rsschool:hover {
      color: #9D8665;
    }

    &-github:hover {
      color: #9D8665;
    }
  }
}