.filter-range {
  .filter-range__title {
  }

  .filter-range__inputs {
    display: flex;
    align-items: center;

    .inputs__first-output,
    .inputs__second-output {
      color: #fff;
      width: 45px;
      height: 30px;
      text-align: center;
      outline: none;
      border: 1px solid #278d9f;
      border-radius: 20px;
      background-color: #123f47;
    }

    .inputs__first-output::-webkit-outer-spin-button,
    .inputs__first-output::-webkit-inner-spin-button {
      appearance: none;
    }

    .inputs__range-container {
      position: relative;
      pointer-events: none;
      height: 5px;
      background: #278d9f;

      .inputs__first-range,
      .inputs__second-range {
        position: relative;
        height: 16px;
        display: block;
        margin: 0;
        appearance: none;
        background-color: transparent;
        width: 100%;
      }

      .inputs__second-range {
        margin-top: -19px;
      }

      .inputs__first-range,
      .inputs__second-range:focus {
        outline: none;
      }

      .inputs__first-range::-webkit-slider-thumb {
        pointer-events: all;
        appearance: none;
        width: 16px;
        height: 16px;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
        background-color: #278d9f;
        cursor: pointer;
      }

      .inputs__second-range::-webkit-slider-thumb {
        pointer-events: all;
        appearance: none;
        width: 16px;
        height: 16px;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
        background-color: #278d9f;
        margin-top: -16px;
        cursor: pointer;
      }
    }

    .inputs__second-output::-webkit-outer-spin-button,
    .inputs__second-output::-webkit-inner-spin-button {
      appearance: none;
    }
  }
}
