.filters-range {
  width: 300px;
  backdrop-filter: blur(3px) brightness(40%);
  background-color: rgba(26, 101, 114, 0.3);
  border: 2px solid #278d9f;
  padding: 15px;
  border-radius: 15px;
  color: #fff;

  .filters-range__title {
    margin: 0;
  }

  /*  .filters-range__amount {
    .amount__title {
    }

    .amount__inputs-container {
      display: flex;

      .amount__first-output {
        width: 45px;
        text-align: center;
        outline: none;
        border: none;
      }

      .amount__first-output::-webkit-outer-spin-button,
      .amount__first-output::-webkit-inner-spin-button {
        appearance: none;
      }

      .amount__range-container {
        position: relative;
        pointer-events: none;

        .amount__first-range {
          width: 150px;
          height: 30px;
          display: block;
          margin: 0;
        }

        .amount__first-range::-webkit-slider-thumb {
          pointer-events: all;
        }

        .amount__second-range {
          width: 150px;
          height: 30px;
          display: block;
          margin: 0;
          margin-top: -30px;
        }

        .amount__second-range::-webkit-slider-thumb {
          pointer-events: all;
        }
      }

      .amount__second-output {
        width: 45px;
        text-align: center;
        outline: none;
        border: none;
      }

      .amount__second-output::-webkit-outer-spin-button,
      .amount__second-output::-webkit-inner-spin-button {
        appearance: none;
      }
    }
  }
 */
  /* .filters-range__purchase-date {
    .purchase-date__title {
    }
  } */
}
